# ============================================================
# CREDENCIAIS / VARIÁVEIS LOCAIS
# ============================================================

credenciais.json
.env


# ============================================================
# BANCOS LOCAIS / RUNTIME
# ============================================================

*.db


# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.pyc
*.pyo
